.footer {
  padding-top: 40px;
  background-color: #2C2B2B;
  height: 200px;
  margin-top: 35px;
}

.footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0px 28px 0px 28px;
}

.footer ul li a {
  padding: 10px;
  font-size: xx-large;
  color: #1CDD87;
}

.footer p {
  margin-top: 10px;
  text-align: center;
  color: #6B6C6C;
  font-size: large;
}
